
<div id="contact-div">

    <p class="gpg"><strong><a href="/assets/dana-gpg-public-key.asc">GPG Public Key &#128272;</a></strong></p>

    <h3 style="text-align: left; margin-top: 5%;">Send Me a Message</h3>

    <form name="contact" id="contact" class="contact-form" data-netlify-recaptcha="true" data-netlify="true" method="POST">
    
        <input id="name" class="fields" type="text" name="name" placeholder="Your Name" required>
  
        <input id="mail" class="fields" type="text" name="_replyto" placeholder="Your Email" required>
   
        <textarea id="message" class="fields" name="message" placeholder="Your message" required></textarea>

        <div data-netlify-recaptcha="true"></div>
        
        <button class="reach-me-send" type="submit">Send</button>

    </form>

</div>
